@import "reset.css";

body {
    background-color: #090909;
}
.text-block {
    width: 750px;
    position: absolute;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -22em;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 70%;
    transform: perspective(250px) rotateX(25deg);
}
.text {
    font-family: 'Tahoma', sans-serif;
    line-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ee8907;
}
h1 {
    font-size: 52px;
}
h2 {
    font-size: 42px;
}
p {
    font-size: 32px;
}
.text-block p:first-of-type {
    padding-bottom: 80px;
}
.text-content{
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 0s infinite;
}
@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}